<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adspitcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Ab" 
        android:logo="@drawable/ic_adspitcher_logo" android:label="@string/app_name">
        <activity
            android:name="com.adspitcher.views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LoginActivity"
            android:label="@string/text_signin"
            android:parentActivityName=".views.LaunchActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.LaunchActivity" />
        </activity>
        <activity android:name=".views.SignupActivity"
            android:label="@string/text_register"
            android:parentActivityName=".views.LaunchActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.LaunchActivity" />
        </activity>
        <activity android:name=".views.HomeActivity"
            android:label="">
        </activity>
        <activity android:name=".views.ProfileActivity"
            android:parentActivityName=".views.HomeActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.HomeActivity" />
        </activity>
        <activity android:name=".views.LaunchActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".views.ForgotPwdActivity"
            android:label="@string/text_forgotpwd"
            android:parentActivityName=".views.LoginActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.LoginActivity" />
        </activity>
        <activity android:name=".views.FiltersActivity"
            android:label="@string/action_filter"
            android:parentActivityName=".views.HomeActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.HomeActivity" /></activity>
        <activity android:name=".views.SearchActivity"
            android:label="@string/action_search"
            android:parentActivityName=".views.HomeActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".views.HomeActivity" /></activity>
    </application>

</manifest>
